.MainInfo_container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 550px){
    .MainInfo_container{
        flex-direction: row;
        column-gap: 2rem;
    }
}

.logoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tempContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: auto;
    width: 13rem;
}

@media screen and (max-width: 550px){
    img {
        width:6rem;
    }
}

.MainInfo_container h3{
    font-family: poppins;
    margin-bottom: 0px;
    font-family: Poppins;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 550px){
    .MainInfo_container h3{
        margin-top: 0px;
    }
}

.MainInfo_container h1{
    margin-top: 0px;
    font-size: 40px;
    font-family: Poppins;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
